
{% extends "base.html" %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="background-color: yellow; border-radius: 6px; padding:6px">
<h1 class="text-center">Sistema Escolar simples</h1>
<a href="{% url 'room'  %}">Sala online ... </a>
<p>É possível gerenciar sua classe de forma mais simples e efetiva, não precisa
    de dezenas de de papéis com anotações sobre os alunos, (observações, tarefas individuais)
    nem planilhas enormes com muita informação.Tudo é mais prático. Realize anotações
    de froma rápida e dinâmica.
</p>

<a href="{%url 'main'%}">Sair</a>
</div>
{% comment %}
<input name="b1" type="checkbox" value="1">
<label for="b1">organização</label>
<br>
<input name="b2" type="checkbox">
<label for="b2">Agilidade</label>
<br>
<input name="b3" type="checkbox">
<label for="b3">Facilidade</label>
<br>
<h2 class="btn btn-primary"><a style="color: white; text-decoration: none;" href="{% url 'cadastro' %}"> Cadastro<a/></h2>
  <img id="lapis_index" class="text-center" src={% static 'images/lapis.avif' %} alt="image-index">
{% endcomment %}

{% endblock %}
