{% extends "base.html" %}

{% block title %}Alunos{% endblock %}

{% block content %}

    <h1 class="text-center">Alunos</h1>
    <strong><p>Quant. total de alunos: </strong> {{ quantidade }} </p>    <div class="container">
        <h1>lista de alunos</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>matrícula</th>
                    <th>nome</th>
                    <th>telefone</th>
                    <th>rec</th>
                    <th>nota 1</th>
                    <th>nota 2</th>
                    <th>nota 3</th>
                    <th>nota 4</th>
                    <th>turma</th>
                    <th>ano</th>
                    <th>editar</th>
                    <th>presenca</th>
                    <th>Excluir</th>
            </thead>
            <tbody>
                {% for aluno in alunos %}
                <tr>
                    <td>{{ aluno.matricula }}</td>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.telefone }}</td>
                    <td>{{ aluno.rec }}</td>
                    <td>{{ aluno.nota1 }}</td>
                    <td>{{ aluno.nota2 }}</td>
                    <td>{{ aluno.nota3 }}</td>
                    <td>{{ aluno.nota4 }}</td>
                    <td>{{ aluno.turma }}</td>
                    <td>{{ aluno.ano }}</td>
                    <td>
                     <a href="{% url 'edit' id_aluno=aluno.id %}" class="btn btn-warning btn-sm">
                            editar informações
                    <td>
                        <a href="{% url 'registrar_presenca' id_aluno=aluno.id %}" class="btn btn-primary btn-sm">
                            registrar presença
                        </a>
                    </td>
                     <td>
                        <a href="{% url 'delete' id_aluno=aluno.id %}" class="btn btn-danger btn-sm">
                            excluir
                        </a>
                    </td>
                </tr>
 
               {% endfor %}
      {% endblock %}


