

{% extends "base.html" %}
{% block title %}Registrar Presença{% endblock %}

{% block content %}

    <h1>Registrar Presença para {{ nome }}</h1>

    <a href="{% url 'list' %}">Voltar</a>
    <br>
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
			{{ f.label }} {{ f }}
        {% endfor %}

        <button type="submit">Salvar Presenças</button>
    </form>


    <hr>
    
    <h1>Presenças de {{ nome }}</h1>
    {% for presenca in presencas %}
    <p>
    <strong> Data:</strong> {{ presenca.data|date:"m/d/Y" }} 
    {% endfor  %}
    </p>

{% endblock %}




